{% extends 'main/base.html' %}

{% block title %}
   Востребованность
{% endblock %}

{% block main %}
    <h1>Востребованность</h1>
    <p>Сейчас я вам расскажу много интересного
    Шаблон всех страниц на сайте должен иметь:
шапку (header), в которой будет логотип – название проекта, придуманное Вами;
подвал (footer), содержащий полностью ФИО и академическую группу студента.
левое меню, содержащее ссылки на все страницы сайта с соответствующими названиями.
Главная страница. Должна содержать заголовок, описание профессии (текст не менее 2000 знаков), а также тематически подобранные изображения для профессии (минимальное количество 1 шт).
Страница «Востребованность». Должна содержать следующие табличные данные и графики (вся информация должна быть представлена одновременно в форме таблиц и графиков). Все таблицы и графики должны иметь соответствующие заголовки.
Динамика уровня зарплат по годам
Динамика количества вакансий по годам
Динамика уровня зарплат по годам для выбранной профессии
Динамика количества вакансий по годам для выбранной профессии
Страница «География». Должна содержать следующие табличные данные и графики (вся информация должна быть представлена одновременно в форме таблиц и графиков). Все таблицы и графики должны иметь соответствующие заголовки.
Уровень зарплат по городам (в порядке убывания).
Доля вакансий по городам (в порядке убывания).
Страница «Навыки». Должна содержать следующие табличные данные и графики. Все таблицы и графики должны иметь соответствующие заголовки.
ТОП-10 навыков по годам для вашей профессии. Наиболее высокочастотные навыки (по анализу поля: key_skills).
Страница «Последние вакансии».
При посещении страницы, необходимо выгружать из API HH (https://api.hh.ru/) в реальном времени IT-вакансии соотвествующие выбранной профессии за любой прошедший будний день декабря (максимум 10 штук, отсортированных по дате публикации вакансии).
Элементы списка должны содержать следующие поля:
Название вакансии;
Описание вакансии (*повышенная сложность, требует доп. GET-запроса);
Навыки (в строку, через запятую) (*повышенная сложность, требует доп. GET-запроса);
Компания;
Оклад;
Название региона;
Дату публикации вакансии.
Требования к системе администрирования сайта
Сайт должен иметь штатную систему администрирования Django приложения.
Авторизация и аутентификация штатная.
В системе администрирования должна быть представлена возможность осуществления CRUD-операции (создание, редактирование, изменение, удаление) для всех элементов всех страниц сайта.
Предобработку и анализ всех необходимых статистических данных осуществлять локально. Результаты загружать на сайт через систему администрирования.
Графики оформлять в виде изображений и загружать как файлы.
Табличные данные, как и весь другой текст для сайта оформлять в формате HTML.
Общие требования
Проект выполняется студентом самостоятельно и обязательно защищается перед преподавателем. Оценка за проект выставляется только после защиты проекта.
Профессия выбирается совместно с преподавателем. И должна быть зафиксирована преподавателем до начала выполнения проекта. Самостоятельно изменять профессию нельзя. Профессия в пределах команды должна быть уникальна. Профессия выбирается из предопределенного списка.
Для более полной статистики разрешено отбирать вакансии для выбранной профессии не только по строгому вхождению ключевого слова в названии вакансии, но и по наличию семантически похожих запросов для названия профессии (Например, web-разработчик, web-программист, веб-разработчик, веб-программист).
Код проекта необходимо загрузить на GitHub. Репозиторий необходимо закрыть и дать доступ только для преподавателя.
Ссылку на web-проект и GitHub прикрепить к этому заданию.
Сайт может быть опубликован на любом хостинге. (Наши рекомендации  - бесплатный вариант хостинга: Pythonanywhere).
Критерии оценки
Проект оценивается по 100 бальной шкале:

Проект выложен на хостинг – 15 баллов
Многостраничность сайта с корректно настроенной маршрутизацией – 5 баллов
Наличие регулярно пополняемого репозитория с последними файлами проекта и всех актуальных скриптов по аналитике – 5 баллов
Полнота информации по аналитике – 30 баллов
Для страницы «Востребованность» – 5 баллов
Для страницы «География» – 5 баллов
Для страницы «Навыки» – 10 баллов
Для страницы «Последние вакансии» – 10 баллов
Соблюдение структуры проекта, и паттернов Django – 15 баллов
Наличие системы администрирования, способной выполнять все CRUD-операции по всем разделам сайта – 10 баллов
Оформление сайта (html, css, js) – 10 баллов. Для оформления можно использовать библиотеки типа Bootstrap, однако, они должны быть также индивидуально стилизованы и настроены.
Стабильная работа на этапе демонстрации – 10 баллов
В зависимости от ответов на вопросы во время защиты к итоговому баллу может быть применен коэфициент от 0 до 1.

Список профессий
Аналитик ('analytic', 'аналитик', 'analyst', 'аналітик')
1С-разработчик ('1с разработчик', '1c разработчик', '1с', '1c', '1 c', '1 с')
Руководитель ИТ-проектов ('team lead', 'тимлид', 'тим лид', 'teamlead', 'lead', 'руководит', 'директор', 'leader', 'director', 'начальник', 'лидер', 'управляющий проект', 'керівник', 'chief', 'начальник it')
Специалист техподдержки ('техподдержка', 'тех поддержка', 'technical support engineer', 'поддержка', 'support', 'підтримки')
Системный администратор ('system admin', 'сисадмин', 'сис админ', 'системный админ', 'cистемный админ', 'администратор систем', 'системний адміністратор')
UX/UI дизайнер ('design', 'ux', 'ui', 'дизайн', 'иллюстратор')
Менеджер IT-проекта ('project manager', 'менеджер проект', 'менеджер it проект', 'менеджер ит проект', 'менеджер интернет проект', 'проджект менеджер', 'проект менеджер', 'проектный менеджер', 'менеджер по проект', 'менеджер по сопровождению проект', 'управление проект', 'управлению проект', 'project менедж', 'администратор проект', 'менеджер проектів', 'менеджер it продукт', 'менеджер it product')
Тестировщик (QA-инженер) ('qa', 'test', 'тест', 'quality assurance')
Инженер-программист ('engineer', 'инженер программист', 'інженер', 'it инженер', 'инженер разработчик')
Frontend-программист ('frontend', 'фронтенд', 'вёрстка', 'верстка', 'верста', 'front end', 'angular', 'html', 'css', 'react', 'vue')
Специалист по информационной безопасности ('безопасность', 'защита', 'information security specialist', 'information security', 'фахівець служби безпеки', 'cyber security')
ERP-специалист ('erp', 'enterprise resource planning', 'abap', 'crm', 'help desk', 'helpdesk', 'service desk', 'servicedesk', 'bi', 'sap')
Backend-программист ('backend', 'бэкэнд', 'бэкенд', 'бекенд', 'бекэнд', 'back end', 'бэк энд', 'бэк енд', 'django', 'flask', 'laravel', 'yii', 'symfony')
Java-программист ('java', 'ява', 'джава')
Администратор баз данных ('баз данных', 'оператор баз данных', 'базы данных', 'oracle', 'mysql', 'data base', 'database', 'dba', 'bd', 'бд', 'базами данны')
Devops-инженер ('devops', 'development operations')
PHP-программист ('php', 'пхп', 'рнр')
Web-разработчик ('web develop', 'веб разработчик', 'web разработчик', 'web programmer', 'web программист', 'веб программист', 'битрикс разработчик', 'bitrix разработчик', 'drupal разработчик', 'cms разработчик', 'wordpress разработчик', 'wp разработчик', 'joomla разработчик', 'drupal developer', 'cms developer', 'wordpress developer', 'wp developer', 'joomla developer')
Python-программист ('python', 'питон', 'пайтон')
C/C++ программист ('c++', 'с++')
Android-разработчик ('android', 'андроид', 'andorid', 'andoroid', 'andriod', 'andrind', 'xamarin')
Разработчик игр (GameDev) ('game', 'unity', 'игр', 'unreal')
Fullstack-программист ('fullstack', 'фулстак', 'фуллтак', 'фуллстэк', 'фулстэк', 'full stack')
IOS-разработчик ('ios')
C# программист ('c#', 'c sharp', 'шарп', 'с#')
В скобках указаны подходящие ключевые слова для поиска соотвествующих профессий.

Рекомендации по размещению проекта на хостинге
Публикация на хостинге:

Зарегистрируйтесь на хостинге https://www.pythonanywhere.com/.
Создайте новое web приложение с шаблоном Django
В ‘Bash console’ создайте виртуальное окружение (подробнее...) и установите в него пакеты
В ‘Bash console’ перейдите в папку с вашим web приложением
Проведите миграции
Перезапустите приложение на вкладке web
Проверьте работоспособность пустого приложения (главная, админка)
Вставьте ваши файлы на вкладке files (не стоит полностью удалять созданные хостингом файлы, вместо этого добавьте изменения в имеющие, например settings.py)
Повторно проведите миграции, перезапустите приложение
Если вы не копировали БД вместе с проектом, то заново в админке создайте профессию
    </p>
{% endblock %}