{% extends 'main/base.html' %}

{% block title %}
    {{title }}
{% endblock %}

{% block main %}
    <main style=" text-align: center;" class="container features">
    <div class ="main-features">
        <h1> DevOps-инженер</h1><hr>
        <h3 class="hight">Кто такой DevOps-инженер?</h3>
        <p class="hight2">    Это высококвалифицированный специалист, который отвечает за автоматизацию
всех этапов создания приложений и обеспечивает взаимодействие
программистов и системных администраторов. Другими словами, DevOps инженер прорабатывает и автоматизирует сборку и доставку кода от
разработки до производства</p>
    <h3 class="hight">DevOps-инженер объединяет в себя сразу
несколько профессий:</h3>
    <ul>
        <li>Build-инженер – специалист по сборке кода;</li>
        <li>Reliase-инженер – специалист по выпуску кода в
производство;</li>
        <li>Automation-инженер – специалист по автоматизации и
внедрению кода;</li>
        <li>Security-инженер – специалист по тестированию программы,
выявлению уязвимых мест</li>
    </ul>
<h3 >DevOps инженер должен:</h3>
    <ul>
        <li >DevOps-специалист должен
обладать аналитическим
складом ума, отличной памятью
и целеустремленностью,
позволяющей добиваться
результатов.</li>
        <li>Знать основы программирования (лучше изучить на базовом
уровне несколько языков);</li>
        <li>Освоиться в принципах работы операционных систем;</li>
        <li>Понимать облачные и гибридные решения;</li>
        <li>Разбираться в системах оркестрации;</li>
        <li>Освоить принципы работы микросервисов;</li>
        <li>Вникнуть в принципы работы с системами конфигурации.</li>
    </ul>
<h3>Обязанности:</h3>
        <ul>
            <li>Выбор среды оркестрации и архитектуры;
</li>
            <li>Автоматизация тестирования и иных этапов разработки приложения;</li>
            <li>Настройка серверов;</li>
            <li>Заливка кодификаций;</li>
            <li>Проведение проверки среды после и до создания контента;
</li>
            <li>Настройка взаимосвязей и окружения между инструментарием для
разработки софта;</li>
            <li>Контроль за обеспечением постоянно функционирующей
автоматизированной линии сборки ПО – конвейера.
</li>
        </ul>
        <img src="static/main/img/content.jpg" alt="инженер">
        <h3>Цели методологии DevOps</h3>
<p>DevOps — это методология разработки, которая помогает
наладить эффективное взаимодействие разработчиков с
другими IT-специалистами. Это набор процессов и
инструментов, которые позволяют компании создавать и
улучшать продукты быстрее, чем при использовании
традиционных подходов к разработке программного
обеспечения.</p>
<h3>Принципы DevOps</h3>
    <p>В 2010 году Дэймоном Эдвардсом и Джоном Уиллисом была разработана
модель CAMS, ключевые идеи которой стали принципами DevOps. Согласно
ей, развитие DevOps идет в трех направлениях: люди, процессы и
инструменты. При этом важна поддержка каждого пункта на всех этапах
развития.</p>
    <h3>Цели DevOps</h3>
        <ul>
            <li>Сокращение времени для выхода на рынок;</li>
            <li>Снижение частоты отказов новых релизов;</li>
            <li>Сокращение времени выполнения исправлений;</li>
            <li>Уменьшение количества времени на восстановления при сбое
новой версии или других случаях отключения текущей системы.</li>
        </ul>
<h3>Задачи DevOps</h3>
        <ul>
            <li>Согласование процессов разработки и поставки ПО с
эксплуатацией;</li>
            <li>Автоматизация процессов разработки, тестирования и
развертывания;
</li>
            <li>Непрерывное тестирование качества приложений;</li>
            <li>Управление ИТ-инфраструктурой как кодом;</li>
            <li>Управление изменениями;</li>
            <li>Непрерывный мониторинг производительности приложений и
состояния инфраструктуры.</li>
        </ul>






    </div>
    </main>

    <!--{% if tasks %}
        {% for el in tasks %}
            <div class="alert alert-warning mt-2">
                <h3>{{ el.title}}</h3>
                <p>{{ el.task}}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>У нас нет записей</p>
    {% endif %}-->
{% endblock %}
