{% extends 'main/base.html' %}

{% block title %}
   Опыт
{% endblock %}

{% block main %}
    <h1>Список самых популярных скиллов по годам</h1>
    <p>Сейчас я вам расскажу много интересного</p>
    <table>

        <tr>
            <td>SCALA
</td>
            <td></td>
        </tr>
        <tr>
            <td>Cassandra</td>
            <td></td>>
        </tr>
        <tr>
            <td>Postgesql</td>
            <td></td>>
        </tr>
        <tr><td>Docker</td>
            <td></td>></tr>
        <tr><td>Kubernetes</td>
            <td></td>></tr>
    <tr><td>Nginx</td>
            <td></td>></tr>
    <tr><td>Haproxy</td>
            <td></td>></tr>

    </table>
{% endblock %}